<!DOCTYPE html>
<html>

<head>
  <title>EMPTY title</title>
  <style>
    .container {
      margin-left:10%;
      margin-right:10%;
      width:800px;
    }
  </style>
</head>

<body>
  <div class="container"> <!--加入div container-->
    <div class="head">
      <h1>Lorem ipsum</h1>
    </div>
    <div class="box-1"> <!-- container 中再加入div box-1-->
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit
        amet dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet
        libero, faucibus interdum libero lorem id tortor. Donec fringilla commodo augue, quis molestie purus ullamcorper
        interdum. Donec non velit ac diam feugiat tristique quis sed urna. Class aptent taciti sociosqu ad litora
        torquent per conubia nostra, per inceptos himenaeos. Sed dapibus arcu at laoreet tristique. Nullam condimentum,
        nunc quis egestas aliquet, enim purus efficitur massa, sed malesuada leo leo vitae ipsum. Quisque feugiat justo
        ut arcu varius aliquet.
      </p>
  </div>
  </div> 
   
</body>

</html>