<!DOCTYPE html>
<HTML lang="en-US">

<HEAD>
	<TITLE> Divs in HTML with style </TITLE>
	<style>
		.container {
			width: 100%;
			height: 100%;

		}

		.box {
			width: 100%;
			height: 34%;
			background-color: Blue;
		}
	</style>
</HEAD>
<BODY>
	<div class="container">
		<div id="box1" class="box" style="background-color:Lime;">
			a
		</div>
		<div id="box2" class="box" style="background-color:Gray;">
			b
		</div>
		<div id="box3" class="box" style="background-color:Aqua;">
			c <br />
			<textarea cols="70" rows="15" readonly="readonly">
		test only


				</textarea>
		</div>
	</div>
</BODY>
</HTML>