<!DOCTYPE html>

<HTML lang="en-US">
    <HEAD>
        <TITLE> Divs in HTML and CSS </TITLE>
        <META charset="utf-8" />
        <META name="keywords" content="" />
        <META name="description" content="" />
        <link rel="stylesheet" href="Stylesheet.css" type="text/css" />
    </HEAD>
    <BODY>
        

 <div contenteditable="true">
  按這裡，編輯.
</div>
<hr>

<textarea cols="70" rows="15" readonly="readonly" >
 
<!--
<!DOCTYPE html>
<HTML lang="hz-TW">
    <HEAD>
        <TITLE> Divs in HTML and CSS </TITLE>
        <META charset="utf-8" />
        <META name="keywords" content="" />
        <META name="description" content="" />
        
    </HEAD>
    <BODY>
        
 <div contenteditable="true">
  按這裡，編輯.
</div>

    </BODY>
</HTML>
-->
            
            
</textarea>        
    </BODY>
</HTML>
