<!DOCTYPE html>
<html><head>
  <title>4. flex</title>  
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href='/classweb/images/favicon.ico'/>
      
    <link rel="stylesheet" href="/classweb/css/atom-one-dark-reasonable.css">
    
    <link href="/classweb/css/syntax.css?1640666691" rel="stylesheet">
    <script src="/classweb/js/jquery-3.3.1.min.js?1640666691"></script>
    <link href='/classweb/css/bootstrap.min.css' rel="stylesheet" crossorigin="anonymous">
    <script src='/classweb/js/bootstrap.bundle.min.js' crossorigin="anonymous"></script>
    
    <script src='/classweb/js/datatables.min.js'></script>    
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">    
    
    <link href="/classweb/css/fontawesome-all.min.css?1640666691" rel="stylesheet">
    
    <link href="/classweb/css/theme-mine.css?1640666691" rel="stylesheet">
    
    <link href="/classweb/css/theme.css?1640666691" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://airbone4.github.io/classweb/scss/notice.7158afc7a24ea3d0073077b3699dbfad7f3df2be8d4e19956e934587413013ee.css" integrity="sha256-cVivx6JOo9AHMHezaZ2/rX898r6NThmVbpNFh0EwE&#43;4=">
    <script src='/classweb/js/class.js'></script>    
    
  </head><body><div id="top-pane" class="navbar  fixed-top ">
  <div class="container-fluid">
  <span >
    <a  href='/classweb/' class="fs-5 accessory"><i class="fas fa-home"></i>Learn Javascript</a>
    <span id="sidebar-toggle-span" class="fs-5"><i class="fas fa-align-justify"></i></span>
  </span><span >
      <span id="toc-menu">
    <label><i class="fas fa-list-alt" ></i> </label>    
<div id="variant-toc-content" >
    <div class="wrapper">
        
    </div>
    <hr class="p-0 m-0" />
    <div class="toa"></div>
</div>
</span>
<span class="fs-5 accessory" data-bs-toggle="tooltip" data-bs-placement="bottom" 
      title='最後修改December 16, 2021'>4. flex</span>
        
    

    </span>
  
  <span></span><span >
    <span >
    <label for="search-query" id="search-button"><i class="fas fa-search"></i></label>
    <input id="search-query" type="search" placeholder="搜尋" autocomplete="off">
</span>    
 
<div id="search-pane">
 <ol id="search-results"></ul>
</div>

    </span>
</div> 
</div>


<div id="content-wrapper"><nav id="sidebar">
  
    <ul class="nav flex-column topics" id="home-topics">
      
        
          
          


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Javascript">
     

  <a class="nav-link" 
    href="/classweb/javascript.html"><i class="far fa-folder"></i>Javascript  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_bd0f01af558aa60dffe930c04a2203f1" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_bd0f01af558aa60dffe930c04a2203f1"  
  class="submenu collapse" 
  data-bs-parent="#home-topics">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/list1999.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">1999 檔案列表</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/%E5%B8%B8%E7%94%A8js.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">常用JS</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/overview.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">概要</a></li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 1 基本">
     

  <a class="nav-link" 
    href="/classweb/javascript/part1basic.html"><i class="far fa-folder"></i>Part 1 基本  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_53e39635344b7f94b4e2364e28de513b" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_53e39635344b7f94b4e2364e28de513b"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t0_%E4%B8%BB%E6%8E%A7%E5%8F%B0%E6%B8%AC%E8%A9%A6.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t0_主控台測試</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t1_dom_basic.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t1 DOM basic</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t3_dom_mouse_event.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t3 DOM mouse event</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t4_dom_time_event.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t4 DOM time event</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t502_js_type.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t5.2 variable and type</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t503_operator_and_type.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t5.3 synax special type</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t510_operator.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t5.10 synax operator</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t511_compare.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t5.11 比較</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t520_js_condition.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t5.20 flowchart</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t5_21_basic_flowcontrol.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t5.21 flowcontrol demo</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/%E8%A6%8F%E5%89%87%E9%81%8B%E7%AE%97.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">t11.1 規則運算</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part1basic/t10_css_js.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">js 操作 css &amp; html</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 2 Interactive">
     

  <a class="nav-link" 
    href="/classweb/javascript/part2interactive.html"><i class="far fa-folder"></i>Part 2 Interactive  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_277cb0efba90f12f9e478a65e1331f1b" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_277cb0efba90f12f9e478a65e1331f1b"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part2interactive/formelement.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">formElement</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part2interactive/event_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">key event</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part2interactive/events_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">key event example</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 3 JPG">
     

  <a class="nav-link" 
    href="/classweb/javascript/part3jpg.html"><i class="far fa-folder"></i>Part 3 JPG  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_bfc5ae1a9c49d1e5c68337f4ace9de93" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_bfc5ae1a9c49d1e5c68337f4ace9de93"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part3jpg/browsepic_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">browser picture note</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part3jpg/mpe_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">mermaid</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part3jpg/overview.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">overview</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part3jpg/addtext_node.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">在畫布上加入文字</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part3jpg/%E7%89%A9%E4%BB%B6filereader.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">物件FileReader</a></li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="canvas">
     

  <a class="nav-link" 
    href="/classweb/javascript/part3jpg/canvas.html"><i class="far fa-folder"></i>canvas  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_54793a3164291695c4b452f3fba57228" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_54793a3164291695c4b452f3fba57228"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bfc5ae1a9c49d1e5c68337f4ace9de93">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part3jpg/canvas/demo-canvas-draw-image.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">Canvas Draw</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part3jpg/reflexion_by_planktoon.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">DEMO</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 5 下載">
     

  <a class="nav-link" 
    href="/classweb/javascript/part5download.html"><i class="far fa-folder"></i>Part 5 下載  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_bdb64d8bfc8f3e50c8a65b224cac245b" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_bdb64d8bfc8f3e50c8a65b224cac245b"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part5download/app/appdownload_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">appDownload note</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part5download/demo-1-getall-link-in-page.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">get all link in page</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part5download/demo-1-%E5%88%A9%E7%94%A8js%E4%B8%8B%E8%BC%89%E9%80%A3%E7%B5%90.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">利用JavaScript下載連結</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part5download/%E8%AE%80%E5%8F%96%E6%96%87%E5%AD%97%E6%AA%94.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">讀取文字檔</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 6 blob &amp; file">
     

  <a class="nav-link" 
    href="/classweb/javascript/part6file.html"><i class="far fa-folder"></i>Part 6 blob &amp; file  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_9fbebc8ea69413be203361307428aa93" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_9fbebc8ea69413be203361307428aa93"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part6file/ajax.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">Asynchronous JavaScript and XML(AJAX)</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part6file/blob_xhr_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">blob</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part6file/what_is_blob.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">what is blob</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 8 object">
     

  <a class="nav-link" 
    href="/classweb/javascript/part8object.html"><i class="far fa-folder"></i>Part 8 object  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_c59cfe8232a1b4e74ce0f6d458706cc3" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_c59cfe8232a1b4e74ce0f6d458706cc3"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part8object/applyvscall.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">ApplyVsCall</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part8object/closure_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">closure_Note</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part8object/object_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">object_Note</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 9 JS程式庫">
     

  <a class="nav-link" 
    href="/classweb/javascript/part9lib.html"><i class="far fa-folder"></i>Part 9 JS程式庫  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_6975bb723c488d774d0610c84788945f" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_6975bb723c488d774d0610c84788945f"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part9lib/highlight.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">highlight打色</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part9lib/jszip/jszip.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">jszip</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part9lib/mathsymbol.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">latex mathml</a></li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part Gif 動畫">
     

  <a class="nav-link" 
    href="/classweb/javascript/part9lib/gif.html"><i class="far fa-folder"></i>Part Gif 動畫  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_f86b533720636e6b6b83927fbdd3a440" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_f86b533720636e6b6b83927fbdd3a440"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_6975bb723c488d774d0610c84788945f">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part9lib/gif/gif_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">Tutorial Note</a></li>
    </ul>
</li>
     
  
</li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Part 10. App">
     

  <a class="nav-link" 
    href="/classweb/javascript/part10app.html"><i class="far fa-folder"></i>Part 10. App  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_8f6f511075e358798c34eb33f90e17f7" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_8f6f511075e358798c34eb33f90e17f7"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_bd0f01af558aa60dffe930c04a2203f1">

    
  
  
   
   
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="打笑臉">
     

  <a class="nav-link" 
    href="/classweb/javascript/part10app/punch.html"><i class="far fa-folder"></i>打笑臉  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_5dc1646e452d0c89d508720b5fe124e4" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_5dc1646e452d0c89d508720b5fe124e4"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_8f6f511075e358798c34eb33f90e17f7">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part10app/punch/intro.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">相關語法和函數</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="期末作業">
     

  <a class="nav-link" 
    href="/classweb/javascript/part10app/phonegap.html"><i class="far fa-folder"></i>期末作業  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_1a2103f29b4b15a237da792ee33690cc" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_1a2103f29b4b15a237da792ee33690cc"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_8f6f511075e358798c34eb33f90e17f7">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part10app/phonegap/mycaculator_class.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">計算機</a></li>
     
   
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="簡單的markdown編輯器">
     

  <a class="nav-link" 
    href="/classweb/javascript/part10app/mdeditor.html"><i class="far fa-folder"></i>簡單的markdown編輯器  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_ab5d6e268c3a6aef71136b95b347eaac" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_ab5d6e268c3a6aef71136b95b347eaac"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_8f6f511075e358798c34eb33f90e17f7">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part10app/mdeditor/pre/firstmarkdown.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">markdown</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part10app/mdeditor/mdeditor_%E5%89%8D%E6%B8%AC/pre/firstmarkdown.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">markdown 前測試</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/javascript/part10app/mdeditor/mdeditor_%E5%89%8D%E6%B8%AC/mdeditor_note.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">mdEditor 前測試</a></li>
     
   
     
   
    </ul>
</li>
     
  
</li>
    </ul>
</li>
     
  
</li>
    </ul>
</li>
     
  

        
          
          


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="html and css">
     

  <a class="nav-link" 
    href="/classweb/html_css.html"><i class="far fa-folder"></i>html and css  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_9c7b086e324c5772c4b9d6b6b26c7f48" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_9c7b086e324c5772c4b9d6b6b26c7f48"  
  class="submenu collapse show" 
  data-bs-parent="#home-topics">

    
  
  
   
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="CSS">
     

  <a class="nav-link" 
    href="/classweb/html_css/css.html"><i class="far fa-folder"></i>CSS  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_c04dd5a2a9e684737b13bf45b7fce7f8" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_c04dd5a2a9e684737b13bf45b7fce7f8"  
  class="submenu collapse show" 
  data-bs-parent="#menu_item_9c7b086e324c5772c4b9d6b6b26c7f48">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/1_1_basic_demo.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">1.1 基本</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/2_1_selector.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">2.1 CSS selector</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/4_1_snippet.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">4_1_snippet</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/4_2_snippet_dynamic.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">4.2 軟片(snippet)動態</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/5_1_bootstrap.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">5.1 軟片 bootstrap</a></li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="more selector">
     

  <a class="nav-link" 
    href="/classweb/html_css/css/selector.html"><i class="far fa-folder"></i>more selector  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_cfeb331fd7cf181539d6dce3d51ef16a" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_cfeb331fd7cf181539d6dce3d51ef16a"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_c04dd5a2a9e684737b13bf45b7fce7f8">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/selector/assignment.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">練習</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="2.2 Layout 排版(P3)">
     

  <a class="nav-link" 
    href="/classweb/html_css/css/layout.html"><i class="far fa-folder"></i>2.2 Layout 排版(P3)  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_168b7e8a6dbecbbbcaf1d92c2efbde7b" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_168b7e8a6dbecbbbcaf1d92c2efbde7b"  
  class="submenu collapse show" 
  data-bs-parent="#menu_item_c04dd5a2a9e684737b13bf45b7fce7f8">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/layout/1_div_inline_float.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">1. inline vs float</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/layout/2_overflow.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">2. overflow</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/layout/3_position.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">3_position</a></li>
     
    
        <li class="nav-item active"><a class="nav-link" href="/classweb/html_css/css/layout/4_flex.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">4. flex</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/css/layout/9_transform.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">9.0 transform</a></li>
    </ul>
</li>
     
  
</li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Html">
     

  <a class="nav-link" 
    href="/classweb/html_css/html.html"><i class="far fa-folder"></i>Html  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_8ff2c10df22bbd93009070afa16e26f5" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_8ff2c10df22bbd93009070afa16e26f5"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_9c7b086e324c5772c4b9d6b6b26c7f48">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/html/basic_1.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">基本</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/html/%E7%B6%B2%E8%B7%AF.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">網路</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/html/demo_form.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">表單(Form)</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/html_css/html/task1_layout.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">進度 layout</a></li>
    </ul>
</li>
     
  
</li>
    </ul>
</li>
     
  

        
          
          


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="GIT檔案列表">
     

  <a class="nav-link" 
    href="/classweb/git.html"><i class="far fa-folder"></i>GIT檔案列表  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_d26a29335cdbdee1ed1a0645b4641c9a" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_d26a29335cdbdee1ed1a0645b4641c9a"  
  class="submenu collapse" 
  data-bs-parent="#home-topics">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/git/gitnote.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">01 Git Note</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/git/tutorial.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">tutorial</a></li>
    </ul>
</li>
     
  

        
          
          


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="工具">
     

  <a class="nav-link" 
    href="/classweb/tools.html"><i class="far fa-folder"></i>工具  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_1db9674aba5e63361c358a2f72b8c170" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_1db9674aba5e63361c358a2f72b8c170"  
  class="submenu collapse" 
  data-bs-parent="#home-topics">

    
  
  
   
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="blogdown ,markdown test">
     

  <a class="nav-link" 
    href="/classweb/tools/blogdown.html"><i class="far fa-folder"></i>blogdown ,markdown test  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_224e338bc59eff1d1682e415bf43d7bd" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_224e338bc59eff1d1682e415bf43d7bd"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_1db9674aba5e63361c358a2f72b8c170">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/tools/blogdown/blogdown.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">blogdown</a></li>
     
   
        <li class="nav-item"><a class="nav-link" href="/classweb/tools/blogdown/markdown.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">markdown primer</a></li>
     
   
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="HUGO">
     

  <a class="nav-link" 
    href="/classweb/tools/hugo.html"><i class="far fa-folder"></i>HUGO  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_2671d4704676160b15dcd40f74357b1a" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_2671d4704676160b15dcd40f74357b1a"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_1db9674aba5e63361c358a2f72b8c170">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/tools/hugo/tutorial.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">Tutorial</a></li>
    </ul>
</li>
     
  
</li>
     
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="短程式">
     

  <a class="nav-link" 
    href="/classweb/tools/snippet.html"><i class="far fa-folder"></i>短程式  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_9155cb2186dc908f533519788a00d84b" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_9155cb2186dc908f533519788a00d84b"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_1db9674aba5e63361c358a2f72b8c170">

    
  
  
   
   
        <li>


 

<li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="dos 命令">
     

  <a class="nav-link" 
    href="/classweb/tools/snippet/dos.html"><i class="far fa-folder"></i>dos 命令  </a>
    <span class="ps-1" data-bs-toggle="collapse" data-bs-target="#menu_item_28ad26c828b5dca3e5690e9a3be4f347" aria-expanded="false">
      <i class="fas fa-caret-up pairicon-open"></i>
      <i class="fas fa-caret-down pairicon-close"></i>
    </span>
  <ul id="menu_item_28ad26c828b5dca3e5690e9a3be4f347"  
  class="submenu collapse" 
  data-bs-parent="#menu_item_9155cb2186dc908f533519788a00d84b">

    
  
  
   
   
        <li class="nav-item"><a class="nav-link" href="/classweb/tools/snippet/dos/dos%E7%80%8F%E8%A6%BD%E6%AA%94%E6%A1%88.html" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">dos瀏覽檔案</a></li>
    </ul>
</li>
     
  
</li>
    </ul>
</li>
     
  
</li>
    </ul>
</li>
     
  

          
        
  </ul> 
    
    <hr/>
    <section id="footer">
      最近3篇<br/><ul><li><a href="https://airbone4.github.io/classweb/git/tutorial.html"> <i class="far fa-clock" ></i>tutorial[2021-12-16 AM 08:10]</a></li><li><a href="https://airbone4.github.io/classweb/tools/hugo/tutorial.html"> <i class="far fa-clock" ></i>Tutorial[2021-12-16 AM 08:10]</a></li><li><a href="https://airbone4.github.io/classweb/javascript/part1basic/t5_21_basic_flowcontrol.html"> <i class="far fa-clock" ></i>t5.21 flowcontrol demo[2021-12-16 AM 08:10]</a></li></ul>
    </section>
  
</nav><article class="article mx-2 mt-3" id="body-inner">
    <!-- 
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
-->

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
 $( function() {
    $( "#outter-height" ).slider({
      change: function( event, ui ) {
         value= $( "#outter-height" ).slider( "option", "value" );
         //$(".outter")[0].style.width=value+"%";
         $(".outter").css("height",value+"%");
         $("#outter-height-value").text("height:"+value+"%");
      }});

    $( "#outter-width" ).slider({
      change: function( event, ui ) {
         value= $( "#outter-width" ).slider( "option", "value" );
         //$(".outter")[0].style.width=value+"%";
         $(".outter").css("width",value+"%");
         $("#outter-width-value").text("width:"+value+"%");
      }});

    $( "input.flex-direction" ).on( "click", function() {
      $(".outter").css("flex-direction",$(this).attr("value")  )
    });

    $( "input.justify-content" ).on( "click", function() {
      $(".outter").css("justify-content",$(this).attr("value")  )
    });

    $( "input.align-item" ).on( "click", function() {
      $(".outter").css("align-items",$(this).attr("value")  )
    });


} );

/*
var value = $( ".selector" ).slider( "option", "value" );
$( ".selector" ).slider( "option", "value", 10 );
*/
 
</script>

<style>
label.param{
  color:red;
}  
div.justify-content-group{
  width: 200px;
}
div.case1{
  
  display:flex;
  flex-direction:row;
}
div.param-outter{
  width:300px;
  border: solid 2px green;
  border-radius: 10px;
  margin:8px;
  padding: 16px;
}
</style>

<h2> example 1</h2>

<div class="case1">
<!--height -->
<div class="param-outter">
<label class="param" id="outter-height-value">height</label>
<div id="outter-height"></div>
</div>
<!--weight -->
<div class="param-outter">
  <label class="param" id="outter-width-value">width</label>
  <div id="outter-width"></div>
  </div>
<!--flex-direction -->
<div class="param-outter">
  <label class="param">flex-direction</label><br/>
  <label >column</label>
  <input class="flex-direction" type="radio" name="outter-flex-direction"  value="column"></br>
  <label>row</label>
  <input class="flex-direction" type="radio" name="outter-flex-direction" value="row"></br>
  <label>column-revert</label>
  <input class="flex-direction" type="radio" name="outter-flex-direction"  value="column-reverse"></br>
  <label>row-revert</label>
  <input class="flex-direction" type="radio" name="outter-flex-direction"  value="row-reverse"></br>
</div>
<!--justify-content -->
<div class="param-outter">
  <label class="param">justify-content</label><br/>
  <label>flex-start</label>
  <input class="justify-content" type="radio" name="outter-justify"  value="flex-start"></br>
  <label>flex-end</label>
  <input class="justify-content" type="radio" name="outter-justify"  value="flex-end"></br>
  <label>center</label>
  <input class="justify-content" type="radio" name="outter-justify"  value="center"></br>
  <label>space-between</label>
  <input class="justify-content" type="radio" name="outter-justify"  value="space-between"></br>
  <label>space-around</label>
  <input class="justify-content" type="radio" name="outter-justify"  value="space-around">

</div>
<!--align-item-->
<div class="param-outter">
  <label class="param">align-item</label><br/>
  <label >flex-start</label>
  <input class="align-item" type="radio" name="outter-align-item"   value="flex-start"></br>
  <label >flex-end</label>
  <input class="align-item" type="radio" name="outter-align-item"   value="flex-end"></br>
  <label >center</label>
  <input class="align-item" type="radio" name="outter-align-item"   value="center"></br>
  <label >stretch</label>
  <input class="align-item" type="radio" name="outter-align-item"  value="stretch"></br>
  <label >baseline</label>
  <input class="align-item" type="radio" name="outter-align-item"  value="baseline">

</div>

</div>

 

  



<!------- main---------------------------------------->
<style>
 .outter{
		display:flex;
		width:180px;
		height:60px;
		margin:5px 5px 40px;
		border:1px solid #000;
		vertical-align: top;
 } 
 .item{
      width:50px;
     /* height:60px;*/
      text-align: center;
      line-height: 50px;
  }
  .box1{
      order:1;
      background:#c00;
  }
  .box2{
      order:2;
      background:#069;
  }
  .box3{
      order:3;
      background:#095;
  }
  .box4{
      order:4;
      background:#f50;
  }
  .box5{
      order:5;
      background:#777;
  }
  .box6{
      order:6;
      background:#077;

  }
  </style>
  <div class="outter">
  <div class="item box1">1</div>
  <div class="item box2">2</div>
  <div class="item box3">3</div>
  <div class="item box4">4</div>
  <div class="item box5">5</div>
  <div class="item box6">6</div>
  </div>

<!---------------------case2 ----------------------------->
<h2> example 2</h2>
<p>拉長的時候紅色會變得比藍色長，但壓縮的時候卻是藍色變得比紅色長</p>
<script>
$( function() {
$( "#outter2-width" ).slider({
min: 10,
max:600,
value:300
});

$( "#outter2-width" ).slider({
  change: function( event, ui ) {
      value= $( "#outter2-width" ).slider( "option", "value" );
      $(".outter2").css("width",value+"px");
      $("#outter2-width-value").text(value+"px");
      $("#item1-width-value").text($("#item1").css("width")+"px");
      $("#item2-width-value").text($("#item2").css("width")+"px");
      calc()
}});
});

function calc(){
  o2width=parseInt($(".outter2").css("width"),10)
  e1factor=$("#item1").css("flex").split(" ").map(ee=>parseInt(ee))
  e2factor=$("#item2").css("flex").split(" ").map(ee=>parseInt(ee))
  itemwidth=e1factor[2]+e2factor[2]
  if(o2width>itemwidth){
    e1width=(o2width-itemwidth)/(e1factor[0]+e2factor[0])*e1factor[0]+e1factor[2]
    e2width=(o2width-itemwidth)/(e1factor[0]+e2factor[0])*e2factor[0]+e2factor[2]
    console.log(e1width)
    console.log(e2width)
  }
}
</script>
<style>
.outter2{
    display:flex;
    height:60px;
    width:300px;
    background-color: grey;
    vertical-align: top;

}
.common{
    height:60px;
    text-align: center;
    line-height: 60px;
}
#item1{
    flex:1 2 200px;
    background:#c00;

}
#item2{
    flex:2 1 100px;
    background:#069;

}

</style>

<label>outter width:</label><label id="outter2-width-value">300px</label></br>
<li><label>item1(red) width:</label><label id="item1-width-value">200px</label></br></li>
<li><label>item2(blue) width:</label><label id="item2-width-value">100px</label></br></li>
<div id="outter2-width"></div>

<div class="outter2">
        <div class="common" id="item1">1</div>
        <div class="common" id="item2">2</div>
</div>

<h3>簡單驗證一下</h3>
<p>多出來的寬度分配,按grow比例:當伸長的長度(x) 大於 200(紅色,grow=1)+100(藍色,grow=2),則新長度的算法為</p>
<li>(x-200-100)/(1+2)*1+200</li>
<li>(x-200-100)/(1+2)*2+100</li>

 

❓問題
<li>為甚麼一個有填滿,一個沒有: case1 指定寬度,沒有指定flex。
</li>

  </article><div class="collapse fs-6 pt-2" id="qnote-list">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white ">
        <span >
            
            <span class="fw-semibold">
                <button  class="btn btn-primary btn-inline" 
                   data-bs-toggle="collapse" data-bs-target="#qnote-edit"><span data-bs-toggle="tooltip" title="加入速記">加</span></button>
                <button id="qnote-gsave" class="btn btn-primary btn-inline" 
                   data-bs-toggle="tooltip" data-bs-placement="left" title="存到硬碟"
                   onclick="qnSaveGoogle()">存</button>
                <label for="qnote-load" class="btn btn-primary btn-inline"  data-bs-toggle="tooltip" data-bs-placement="left" title="從檔案載入">載</label>   
                <input style="display:none" type="file" id="qnote-load" onchange="qnLoadGoogle(this)" />
                <button id="qnote-clear" class="btn btn-primary btn-inline" 
                   data-bs-toggle="tooltip" data-bs-placement="left" title="清除全部速記"
                   onclick="cleanNotes()">清</button>
            </span>
        </span>
        <span class="fw-semibold collapse" id="qnote-edit"> 
            <input type="text" class="txtitle d-block w-100 h-25 " placeholder="抬頭" />
            <textarea class="txtBox  d-block w-100 h-75 " placeholder="本文"></textarea>
            
            <button id="qnote-add-item" onclick="addNote()" class="btn btn-primary">存</button> 
        </span>

    </div>
</div>

<link href="/classweb/css/quicknote.css?1640666691" rel="stylesheet">
<script src="/classweb/js/quicknote.js?1640666691"></script>
<div id="page-guide" class="bg-dark">  
  <a id="avator" href="/api/list" 
  class="btn btn-primary d-none"  data-bs-toggle="tooltip"  data-bs-placement="left" title=""><img style="padding:0px"class="img-fluid "></a>

  
    
          
          <a href="/classweb/html_css/css/layout/3_position.html" 
                   class="btn btn-primary" 
                   data-bs-toggle="tooltip" 
                   data-bs-placement="left" title=3_position>前</a>
                   
          
            <a href="/classweb/html_css/css/layout/9_transform.html" 
               class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" 
               title=9.0&#32;transform>後</a>            
          
          

  
<script src="/classweb/js/packhtml.js?1640666691"></script>    
<button class="btn btn-primary " onclick="packthis(this)"
data-bs-toggle="tooltip" data-bs-placement="left" title="打包成單一檔案">包</button>
<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="div#qnote-list">
  <span data-bs-toggle="tooltip" data-bs-placement="left" title="快速註記">速</span></button>
 
</div>
</div>


  <script src="/classweb/js/featherlight.min.js?1640666691"></script>
  <script src="/classweb/js/featherlight.gallery.min.js?1640666691"></script>
  <link href="/classweb/css/featherlight.min.css?1640666691" rel="stylesheet">
  <link href="/classweb/css/featherlight.gallery.min.css?1640666691" rel="stylesheet">
  
  <script src="/classweb/js/highlight.min.js"></script>
  
  <script src="/classweb/js/hugohelper.js?1640666691"></script>
  
  <link href="/classweb/css/mystyle.css?1640666691" rel="stylesheet">    
  <script src='/classweb/js/variant.js?1640666691'></script>

<script>
  
   let idxfile = "https:\/\/airbone4.github.io\/classweb\/index.json"  
  
</script>
<script src='/classweb/js/localsearch.js?1640666691'></script>
  
      
          <script src="https://unpkg.com/mermaid@8.8.0/dist/mermaid.min.js"></script>
      
      <script>
          mermaid.initialize({ startOnLoad: true });
      </script>
  

  <script>
      MathJax = {
        tex: {
          inlineMath: [['\($', '$\)'], ['\\(', '\\)']],
          displayMath: [['$$','$$']  , ['\\[','\\]']] 
        },
        svg: {
          fontCache: 'global'
        }
      };
      
      
    
      </script>

      <script type="text/javascript" id="MathJax-script" async
      src='/classweb/js/tex-svg.js'>
      </script>



<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    jumpto = document.querySelector("#sidebar .active");
     if (jumpto!=null) jumpto.scrollIntoViewIfNeeded(true);
  
  });    
  
  </script>
</body>
</html>