<!DOCTYPE html>
<html>

<head>
  <style>
    p {
      width: 80%;
    }

    .main {
      background-color: grey;
      width: 100%;
      
    }

    .fixed {
      position: fixed;
      bottom: 0;
      right: 0;
      border: 3px solid #73AD21;
      background-color: #73AD21;
    }
    
    img.absolute {
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      width: 100px;
      height: 80px;
    }
    #box1{
      position:relative; /* 🐞加入comments 試試 ,有沒有這行對fix沒有影響*/
      border:solid 1px red;
    }
  </style>
</head>

<body>
  <div class='main'>
    <p> -------------paragraph in main div------------------</p>
    <div id="box1">
      <p class="fixed">fixed</p> <!-- 💡這個段落浮動在右下角,以下往前移 -->
      <p>沒有指定positioin屬性(往前移取代前一段落的位置)</p> <!-- 💡往前移 -->
      <img class="absolute" src="img/littleman.jpg">
      <img class="fixed" src="img/littleman.jpg">
    </div>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id dolor sed turpis consequat iaculis ut sit amet
    dui. Maecenas consequat maximus bibendum. Proin maximus, metus condimentum auctor tempus, leo enim laoreet libero,
    faucibus interdum libero lorem id tortor.
  </p>
</body>

</html>